In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/credit-data.csv')
df.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

## Pr√©-processamento

In [17]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing  import StandardScaler

In [3]:
df.dtypes

i#clientid      int64
income        float64
age           float64
loan          float64
c#default       int64
dtype: object

In [4]:
df.describe()

        i#clientid        income          age          loan    c#default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [5]:
df.loc[df['age'] < 0]

    i#clientid        income        age         loan  c#default
15          16  50501.726689 -28.218361  3977.287432          0
21          22  32197.620701 -52.423280  4244.057136          0
26          27  63287.038908 -36.496976  9595.286289          0

In [9]:
df.loc[df['age'] < 0, 'age'] = df['age'].mean()
df.describe()

        i#clientid        income          age          loan    c#default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.927520   4444.369695     0.141500
std     577.494589  14326.327119    13.261826   3045.410024     0.348624
min       1.000000  20014.489470    18.055189      1.377630     0.000000
25%     500.750000  32796.459717    29.072097   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [15]:
previsores = df.iloc[:,1:4].values
classe = df.iloc[:,4].values
print(previsores[:5], classe[:5], sep='\n')

[[6.61559251e+04 5.90170151e+01 8.10653213e+03]
 [3.44151540e+04 4.81171531e+01 6.56474502e+03]
 [5.73171701e+04 6.31080495e+01 8.02095330e+03]
 [4.27095342e+04 4.57519724e+01 6.10364226e+03]
 [6.69526888e+04 1.85843359e+01 8.77009924e+03]]
[0 0 0 0 1]

In [16]:
simputer = SimpleImputer()
simputer = simputer.fit(previsores)
previsores = simputer.fit_transform(previsores)

In [18]:
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

In [19]:
previsores[:5]

array([[ 1.45393393,  1.36539359,  1.20281942],
       [-0.76217555,  0.54267291,  0.69642695],
       [ 0.83682073,  1.67418453,  1.17471147],
       [-0.18307006,  0.36414927,  0.54497999],
       [ 1.50956319, -1.68646168,  1.4207648 ]])

## Separa√ß√£o treino

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
previsores_treinamento, previsores_teste, classe_treinamento, classe_teste = train_test_split(previsores, classe, random_state=0)

## Regress√£o Log√≠stica

In [23]:
from sklearn.linear_model import LogisticRegression

In [24]:
classificador = LogisticRegression(random_state=0)
classificador = classificador.fit(previsores_treinamento, classe_treinamento)
previsoes = classificador.predict(previsores_teste)

/home/dstrb/anaconda3/envs/az_ml/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

## M√©tricas

In [25]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [26]:
precisao = accuracy_score(classe_teste, previsoes)
matriz = confusion_matrix(classe_teste, previsoes)

In [27]:
print(precisao, matriz, sep='\n')

0.944
[[422  14]
 [ 14  50]]