In [1]:
import pandas as pd

In [2]:
# a base não possuí valores faltantes
df = pd.read_csv('../data/census.csv')
df.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
print('Tipo variáveis:',df.dtypes, sep='\n')
print('\nInformações:', df.describe(), sep='\n')

Tipo variáveis:
age                int64
workclass         object
final-weight       int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loos       int64
hour-per-week      int64
native-country    object
income            object
dtype: object

Informações:
                age  final-weight  education-num  capital-gain  capital-loos  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hour-per-week
count   32561.000000
mean       40.437456
std        12.347429
min         1.000000
25%        40.000000
50%        40.000000
75%        45.000000
max        99.000000

## Separando base

In [5]:
previsores = df.iloc[:, :-1].values
previsores[:5,:]

array([[39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married',
        ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0,
        40, ' United-States'],
       [50, ' Self-emp-not-inc', 83311, ' Bachelors', 13,
        ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White',
        ' Male', 0, 0, 13, ' United-States'],
       [38, ' Private', 215646, ' HS-grad', 9, ' Divorced',
        ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0,
        40, ' United-States'],
       [53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse',
        ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40,
        ' United-States'],
       [28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse',
        ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40,
        ' Cuba']], dtype=object)

In [29]:
classe = df.iloc[:, -1].values
classe[:10]

array([' <=50K', ' <=50K', ' <=50K', ' <=50K', ' <=50K', ' <=50K',
       ' <=50K', ' >50K', ' >50K', ' >50K'], dtype=object)

## Transformando var. categorica em numérica

In [21]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [11]:
labelencoder_previsores = LabelEncoder()

In [17]:
labels = labelencoder_previsores.fit_transform(previsores[:,1])
print('Categorica:', previsores[:,1][:5],'\nNumérica:',labels[:5])

Categorica: [' State-gov' ' Self-emp-not-inc' ' Private' ' Private' ' Private']
Numérica: [7 6 4 4 4]

In [19]:
previsores[:, 1] = labelencoder_previsores.fit_transform(previsores[:, 1])
previsores[:, 3] = labelencoder_previsores.fit_transform(previsores[:, 3])
previsores[:, 5] = labelencoder_previsores.fit_transform(previsores[:, 5])
previsores[:, 6] = labelencoder_previsores.fit_transform(previsores[:, 6])
previsores[:, 7] = labelencoder_previsores.fit_transform(previsores[:, 7])
previsores[:, 8] = labelencoder_previsores.fit_transform(previsores[:, 8])
previsores[:, 9] = labelencoder_previsores.fit_transform(previsores[:, 9])
previsores[:, 13] = labelencoder_previsores.fit_transform(previsores[:, 13])

### Var. Dummy

In [ ]:
# onehotencoder = OneHotEncoder(categorical_features=[1,3,5,6,7,8,9,13])
onehotencoder = OneHotEncoder(categories='auto')
previsores = onehotencoder.fit_transform(previsores).toarray()

In [24]:
previsores[:5,:]

array([[ 1.,  0.,  1., ...,  0., 40., 39.],
       [ 1.,  0.,  1., ...,  0., 13., 39.],
       [ 1.,  0.,  1., ...,  0., 40., 39.],
       [ 1.,  0.,  1., ...,  0., 40., 39.],
       [ 1.,  0.,  1., ...,  0., 40.,  5.]])

In [30]:
labelencoder_classe = LabelEncoder()
classe = labelencoder_classe.fit_transform(classe)
classe[:10]

array([0, 0, 0, 0, 0, 0, 0, 1, 1, 1])

### Escalonamento

In [31]:
from sklearn.preprocessing import StandardScaler

In [32]:
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)
previsores[:5,:]

array([[ 0.18155194, -0.18155194,  0.09161163, ..., -0.21665953,
        -0.03542945,  0.29156857],
       [ 0.18155194, -0.18155194,  0.09161163, ..., -0.21665953,
        -2.22215312,  0.29156857],
       [ 0.18155194, -0.18155194,  0.09161163, ..., -0.21665953,
        -0.03542945,  0.29156857],
       [ 0.18155194, -0.18155194,  0.09161163, ..., -0.21665953,
        -0.03542945,  0.29156857],
       [ 0.18155194, -0.18155194,  0.09161163, ..., -0.21665953,
        -0.03542945, -4.05422257]])